* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Avenir Next';
	src: url("public/fonts/AvenirNext.ttc");
}

@media (max-width: 800px) {
	.header-menu ul {
		flex-direction: column;
	}
}

.bold {
	font-weight: bold;
}

body {
	font-family: 'Avenir Next', sans-serif;
}

#home {
	background-image: url('../public/images/home/header-flou.jpeg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
}

.header {
	position: absolute;
	display: flex;
	width: 100%;
	height: 20vh;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	z-index: 2;
	/* Add this line */
}

.header-logo img {
	height: 100px;
	/* Adjust according to your design */
}

.header-menu ul {
	display: flex;
	list-style: none;
	color: var(--blanc, #FFF);
	text-align: center;
	justify-content: center;
	/* This will center the items horizontally */
	align-items: center;
	/* This will center the items vertically */
}

.header-menu ul li {
	margin-left: 7.5px;
	margin-right: 7.5px;
}

.header-menu ul li a {
	text-decoration: none;
	color: white;
	font-size: 13px;
	line-height: 14.4px;
	/* Adjust according to your design */
}

.header-lang {
	display: flex;
	align-items: center;
}

.header-lang a {
	text-decoration: none;
	color: white;
	font-size: 13px;
	line-height: 14.4px;
	text-decoration: none;
	color: white;
}

#home {
	position: relative;
}

#bouteille {
	position: absolute;
	top: 20vh;
	left: 50%;
	height: 66vh;
	background-image: url('../public/images/home/bouteille.png');
	background-size: cover;
	background-position: center;
	transform: translateX(-50%);
}

#link-container {
	position: absolute;
	bottom: 7vh;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

#disco {
	text-transform: uppercase;
	text-decoration: none;
	color: white;

}